<configuration>
	<appSettings>
		<!-- Ajusta el puerto según lo que diga Papercut en su UI -->
		<add key="SmtpHost" value="localhost" />
		<add key="SmtpPort" value="25" />
		<add key="SmtpEnableSsl" value="false" />
		<add key="FromEmail" value="no-reply@miapp.local" />
		<add key="AllowedDomains" value="" />
	</appSettings>
</configuration>
